.footer {
    background-color: brown;
    padding: 10px;
    margin: 10px;
    
}

.footer-bar {
    background-color: brown;
    color: aliceblue;

}
.footer-creditos {
    color: aliceblue;
    text-align: center;
    font-weight: 700;
}